body {
	font-family: arial;
}

#tf_map_holder {
	position : absolute;
	top: 0;
	left : 0;
	right : 0;
	bottom : 120px;
}

#tf_timeline_holder {
	position : absolute;
	bottom : 0;
	left : 0;
	right : 0;
	height : 120px;
}
